body {
    font-family: 'Roboto', sans-serif;
    color: var(--gray-color);}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--brand-color);
        margin: 0;padding: 0;
        
      }
.header{background-color: var(--white-color);
    border-bottom: 1px solid var(--lighter-color);
    display: flex;
    align-items: center;
    padding-right: 156px; padding-left: 156px;}
.header-link{
    color: var(--darker-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
.header-list{
            padding-left: 76px;
            gap: 40px;
            margin: 0; padding: 0;}
.header-nav{display: flex;
            align-items: center;}
.header-div{
    margin-right: auto;}
.header-contacts{color: var(--gray-color); font-style: normal;}
.header-contacts:hover, .header-contacts:focus{color: var(--violet-color);}
.header-add{list-style: none; font-style: normal;}
.header-link:hover, .header-link:focus{color: var(--violet-color);}
.header-mail{margin-right: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray-color);
    padding: 0;}
.header-number{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray-color);
    text-transform: uppercase;
    margin-right: 156px;
    margin: 0;
    padding: 0;}
.sec-one{background-color: var(--darker-color);
        padding-top: 188px;
        padding-bottom: 188px;}
.div-one{display: flex;
        flex-direction: column;}
.container{width: 1158px;
            padding-right: 15px;
            padding-left: 15px;
            margin-left: auto;
            margin-right: auto;}
.sec-h-one{width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin: 0 auto;}
.sec-button{background-color: var(--brand-color);
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color: var(--white-color);
    max-width: 150px;
    margin: 0 auto;
    margin-top: 50px;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;}
.sec-button:hover, .sec-button:focus{background-color: var(--light-color);
color: var(--brand-color);}
.link{text-decoration: none;}
.list{list-style: none;
    display: flex;
    align-items: center;}
.sec-two{padding: 0 156px 0 156px;}
.visually-hidden{position: fixed;
    transform: scale(0);}
.sec-two-list{gap: 24px; padding: 0; margin: 0;}
.div-two{max-width: 1158px;
        padding: 0;
        margin: 0 auto;
        padding: 0 15px;}
.sec-two-item{margin-top: 120px;
    margin-bottom: 8px;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
    color: var(--darker-color);}
.sec-two-text{margin: 0;padding: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray-color);
margin-bottom: 120px;}
.sec-three-list{gap: 24px;
    margin: 0;
    margin-top: 72px;
    padding: 0;}
img{max-width: 100%; height: auto; display: block;}
.sec-three-h-two{
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--darker-color);}
.sec-four{background-color: var(--light-color);
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 120px;}
.sec-four-item{background-color: var(--white-color);
                width: 264px;
                border-radius: 0px 0px 4px 4px;
                box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
                }
.sec-four-h-two{ font-size: 36px;
                line-height: 1.11;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color:  var(--darker-color);
                margin: 0 auto;
                margin-bottom: 72px;}
.sec-four-list{gap: 24px; padding: 0; margin: 0;}
.sec-four-name{
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--darker-color);}
.sec-four-work{padding: 0; margin: 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--gray-color);
margin-top: 8px;}
.sec-four-block{padding-top: 32px; padding-bottom: 32px;}
.footer{background-color: var(--darker-color);
    padding-top: 100px;
    padding-bottom: 100px;}
.footer-div{margin-left: 156px;}
.footer-text{
    margin-top: 18px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--lighter-color);
    width: 264px;}

    
    /*_____PORTFOLIO PAGE_____*/


.buttons:hover{background-color: var(--violet-color); color: var(--white-color);}
.buttons{font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--brand-color);
    background-color: var(--light-color);
    border: var(--lighter-color);
    margin-top: 96px;}
.buttons-ul{justify-content: center; 
            gap: 24px;
            margin-bottom: 72px;
            padding: 0;}
.port-border{border-bottom: 1px solid #E7E9FC;
            border-left: 1px solid #E7E9FC;
            border-right: 1px solid #E7E9FC;}
.port-list{ display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 48px 24px;
            padding: 0;
            list-style: none;}
.port-item{flex-basis: calc((100% - 48px) / 3);}
.port-name{margin: 0;
    margin-top: 32px;
    margin-left: 16px;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color: var(--darker-color)}
.port-category{margin: 0;
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
    padding: 0;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: var(--gray-color)}
.accent {margin-right: 76px;
         color: var(--darker-color) }
.accent-footer{
         color: var(--light-color)}
:root{--brand-color: #4D5AE5;}
:root{--gray-color: #434455;}
:root{--light-color: #f4f4fd;}
:root{--lighter-color:  #E7E9FC;}
:root{--darker-color: #2E2F42;}
:root{--violet-color: #404BBF;}
:root{--white-color:  #FFFFFF;}