body {
    font-family: 'Roboto', sans-serif;
    color: var(--gray-color);}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--brand-color);
        margin-right: 76px;
        margin-left: 156px;
      }
.header{background-color: var(--white-color);
    border-bottom: 1px solid var(--lighter-color);
    display: flex;
    align-items: center;}
.header-link{
    color: var(--darker-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
.header-list{display: flex;
            gap: 40px;
            margin-top: 24px;
            margin-bottom: 24px;}
.header-nav{display: flex;
            align-items: center;}
.header-div{
    margin-right: auto;}
.header-contacts{color: var(--gray-color); font-style: normal;}
.header-contacts:hover, .header-contacts:focus{color: var(--violet-color);}
.header-add{list-style: none; font-style: normal;}
.header-link:hover, .header-link:focus{color: var(--violet-color);}
.header-mail{margin-right: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray-color);}
.header-number{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray-color);
    text-transform: uppercase;
    margin-right: 156px;}
.sec-one{background-color: var(--darker-color);
        padding-top: 188px;
        padding-bottom: 188px;}
.div-one{display: flex;
        flex-direction: column;}
.container{width: 1158px;
            padding-right: 15px;
            padding-left: 15px;
            margin-left: auto;
            margin-right: auto;}
.sec-h-one{width: 496px;
    height: 120px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin: 0 auto;}
.sec-button{background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color: var(--white-color);
    max-width: 150px;
    margin: 0 auto;
    margin-top: 50px;
    Width: 169px;
    Height: 56px;}
.sec-button:hover, .sec-button:focus{background-color: var(--light-color);
color: var(--brand-color);}
.link{text-decoration: none;}
.list{list-style: none;
    display: flex;
    align-items: center;}
.sec-two-list{gap: 24px; padding: 0;}
.div-two{max-width: 1158px;
        margin: 0 auto;
        padding: 0 15px;}
.sec-two-item{margin-top: 120px;
    margin-bottom: 8px;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
    color: var(--darker-color);
    width: 264px;
    height: 24px;}
.sec-two-text{width: 264px;
    height: 72px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--gray-color);
margin-bottom: 200px;}
.div-three{ margin-left: 156px;
            margin-right: 156px;}
.sec-three-list{gap: 24px; padding-bottom: 120px;}
.sec-three-h-two{margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--darker-color);}
.sec-four{background-color: var(--light-color);
        padding-top: 732px;}
.div-four{display: flex;
          flex-direction: column;}
.sec-four-list{gap: 24px; margin-left: 156px;
    margin-right: 156px;}
.sec-four-item{background-color: var(--white-color);
                width: 264px;
                height: 380px;
                border-radius: 0px 0px 4px 4px;
                box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
                margin-bottom: 120px;}
.sec-four-h-two{ font-size: 36px;
                line-height: 1.11;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color:  var(--darker-color);
                margin-top: 120px;
                margin-left: 639px;
                margin-right: 639px;}
.sec-four-name{
    margin-top: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--darker-color);}
.sec-four-work{padding-bottom: 32px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--gray-color);}
.footer{background-color: var(--darker-color);
        padding-top: 312px;
        display: flex;}
.logo-studio2{font-family: 'Raleway', sans-serif;
    color: var(--light-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;}
.footer-text{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--lighter-color);
    width: 264px;
    height: 72px;}

    
    /*_____PORTFOLIO PAGE_____*/


.buttons:hover{background-color: var(--violet-color); color: var(--white-color);}
.buttons{font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--brand-color);
    background-color: var(--light-color);
    border: var(--lighter-color);}
.port-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color: var(--darker-color)}
.port-category{
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: var(--gray-color)}
.accent {
         color: var(--darker-color) }
.accent-footer{
         color: var(--light-color)}
:root{--brand-color: #4D5AE5;}
:root{--gray-color: #434455;}
:root{--light-color: #f4f4fd;}
:root{--lighter-color:  #E7E9FC;}
:root{--darker-color: #2E2F42;}
:root{--violet-color: #404BBF;}
:root{--white-color:  #FFFFFF;}